.add-padding {
    padding-left: 30px;
}

.add-padding-right {
    padding-right: 190px;
}

.add-margin-top {
    position: relative;
    top: 62px;
}

.profile-image-position {
    position: absolute;
    left: 25%;
    top: 15px;
    width: 200px;
    height: 200px;
}

.profile-image-card {
    width: 200px;

    align-items:center;

}


.profile-image-size {
    width: 300px;

}

.profile-card{
    flex-direction: row;
    position:absolute;
    left:30%;
    top: 20px;
    right:30%;
    border: none;
    height: 200px;
    width: 200px;
}

.profile-card2{

    border: none;
    position:relative;
    top: 20px;


}

.profile-card3 {
    flex-direction: row;

}

.items-position {
    position: absolute;
    left: 25px;
    top: 250px;
    width: 350px;

}

.heading-position {
    position: absolute;
    left: 50%;

}

.body-position {
    position: absolute;
    top: 450px;

    background-color: #FAF6EF;



}

.body-position-followers {
    position: absolute;
    top: 500px;
    left:;
    background-color: #FAF6EF;
}


hr {
  border:none;
  border-top:1px dashed #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:50%;
}

.dotted {
    border: 1px dotted #ff0000;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
    top: 300px;
}

.line{
    width: 550px;
    border-bottom: 2px dashed brown;
    position: relative;
    top: 300px;
    left: 27%;
}

.line-position {
    position: absolute;
    top: 250px;
    left: 30%;

}

.margin-after-top {
    margin-top: 70px;
}

.background-liked {
    background-color: #FAF6EF;
}

.background-followers {
    background-color: #ECDAC1;


}

.color-green{
    color:green;
}

.color-black{
    color:black;
}

.horizontal-scroll {
    overflow-x:hidden;
    max-width: 100%;
}

.card-body-color {
    background-color: #ECDAC1;
}

.profile-items-border {
    border-style: solid;
}

.profile-bold {
    font-weight: bold;
}

.color-me-tomato {
    color: tomato;
}

.color-red {
    color: red;
}

.color-brown {
    color: #86796C;
}

.review-numbers-font-size {
    font-size: 12px;
}

.add-padding {
    padding-left: 80px;
    margin-top: 50px;
}

.add-margin {
    margin: 62px 0px 0px 80px;
}

.add-padding-pic {
    padding-top: 20px;
    padding-left: 60px;
}

.fill-background {
    background-color: #86796C;
}

.fill-heading-background {
    background-color: #d07d62;
}